*~
*.swp
tmp/
npm-debug.log
.DS_Store
.idea
merged/
.next
.vscode/
node_modules/
resources.txt
.env
.versionFilesList.json
build/
bin/
notes.txt
cache

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/.session
# We have to add this one to .gitignore since the hardhat network, which forks mainnet, is interpreedted as mainnet
.openzeppelin/mainnet.json
deployments/hardhat/*.json


# Code Coverage
coverage
.coverage
coverage.json
coverageEnv
artifacts
test-results.xml
